@page


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/estilo.css">
    <title>Test</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="main">
                <ul>
                    <li> <a href="#">Main</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <article class="article">
            <div class="flex-container1">
                <div class="flex-item1">
                    <img class="img1" src="img/ocho.png">
                </div>
                <div class="flex-item1">
                    <img class="img1" src="img/seis.jpg">
                </div>
                <div class="flex-item1">
                    <img class="img1" src="img/siete.png">
                </div>
                <div class="flex-item1">
                    <img class="img1" src="img/uno.png">
                </div>
                <div class="flex-item2">
                    <img class="img2" src="img/dos.png">
                </div>
                <div class="flex-item2">
                    <img class="img2" src="img/cinco.jpg">
                </div>
            </div>
        </article>
        <aside class="aside">
            <div class="flex-container3">
                <div class="flex-item3"> <img class="img3" src="img/cuatro.png"> </div>
                <div class="flex-item3"> <img class="img3" src="img/tres.jpg"> </div>
            </div>
        </aside>
        <footer class="footer">
            <a class="mail" href="mailto:olicino@gmail.com">Contactar por mail</a>
        </footer>
    </div>
</body>

</html>
