body {
    background-color: black;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.asd {
    height: 300px;
    width: 300px;
}

.header,
.article,
.aside,
.footer {
    padding: 18px;
}


/* HEADER */
.header {
    background-color: #CBCBCB;
    display: flex;
    flex-basis: 10px;
    flex-grow: 1;
}

nav {
    float: left;
}

nav ul li {
    list-style: none;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 5px;
}

nav ul li a:hover {
    color: #3F4377;
}




/* ARTICLE */
.article {
    background-color: #55587E;
    border-style: ridge;
    flex-basis: 600px;
    flex-grow: 2;
    flex-shrink: 0;
}


.flex-container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.flex-item1 {
    margin: 10px;
    height: 300px;
    width: 300px;
}


.flex-item2 {
    margin: 10px;
    height: 300px;
    width: 500px;
}

img {
    cursor: pointer;
}

.img1 {
    height: 300px;
    width: 300px;
}

.img2 {
    height: 300px;
    width: 500px;
}

.img1:hover {
    height: 310px;
    width: 310px;
}

.img2:hover {
    height: 310px;
    width: 510px;
}




/* ASIDE */
.aside {
    background-color: #3F4377;
    border-style: ridge;
    flex-basis: 280px;
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.flex-item3 {
    background-color: #fff;
    margin: 8px;
    height: 350px;
    width: 300px;
}

.img3 {
    height: 350px;
    width: 300px;
}

.img3:hover {
    height: 360px;
    width: 310px;
}



/* FOOTER */
.footer {
    background-color: #CBCBCB;
    flex-basis: 10px;
    flex-grow: 1;
}

.mail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mail:hover {
    color: #3F4377;
}



@media screen and (min-width: 800px) {
    .container {
        flex-flow: row wrap;
    }

    .header {
        flex-basis: 100%;
        max-height: 30px;
    }

    .article {
        flex-grow: 4;
    }

    .aside {
        flex-grow: 1;
    }

    .footer {
        flex-basis: 100%;
        max-height: 30px;
    }
}